
html {
  font-size: 90.5%;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-color: #34495e;
  color: aliceblue;
  font-family: "Raleway", sans-serif;
}
body {
  background-color: #b3e5fc;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}
h2 {
  text-align: center;
  margin: 20px 0;
}
.textLeft {
  text-align: left;
}
.card {
  width: 450px;
  display: flex;
  border: none;
  border-radius: 10px;
  background-color: #e18c8c;
  margin: auto;
}
.image {
  min-width: 155px;
  margin-right: 20px;
}
h2{
  align-items: center;
}
